.sectionDescription {
    background: '#DCDCDC';
    color: '#fff';
    align-items: 'center';
    padding: '20px';
    display: 'grid';
    gridTemplateColumns: '1fr 2fr';
  }
  
.detailsLogo {
    color: '#fff';
    margin: 'auto';
    align-items: 'center';
    padding: '10px';
}

.detailsDescription {
    color: '#000';
    align-items: 'center';
    padding: '10px 100px';
}