.section {
    background: '#DCDCDC';
    color: '#fff';
    align-items: 'center';
    padding: '10px';
    display: 'grid';
    grid-template-columns: '1fr 2fr';
}

.logo {
    color: '#fff';
    align-items: 'center';
    padding: '10px';
}


.description {
    color: '#fff';
    align-items: 'center';
    padding: '10px';
}